@using ReadingTool.Entities.Identity
@{
    var user = HttpContext.Current.User.Identity.IsAuthenticated ? (UserIdentity)HttpContext.Current.User.Identity : (UserIdentity)null;
}
<div class="subnav">
    <ul class="subnav">
        <li>@(Html.ActionLink<MyAccountController>(x=>x.Index(), "your profile"))</li>
        <li>@(Html.ActionLink<MyAccountController>(x=>x.PublicProfile(), "public profile"))</li>
        <li>@(Html.ActionLink<MyAccountController>(x => x.MediaControls(), "media controls"))</li>
        <li>@(Html.ActionLink<MyAccountController>(x => x.Styles(), "custom styles"))</li>
        <li>@(Html.ActionLink<MyAccountController>(x => x.ImportExport(), "import/export"))</li>
        <li>@(Html.ActionLink<MyAccountController>(x => x.Account(), "account data"))</li>
        @{
            if(user!=null && user.Roles.Contains("admin")) 
            {
                <li>@Html.ActionLink("admin", "index", "home", new { area = "admin" }, new { })</li>
            }
        }
    </ul>
</div>
<div class="clr10"></div>