@using ReadingTool.Common
@model ReadingTool.Site.Models.Groups.GroupMembershipViewModel
@{
    ViewBag.Title = "Group Membership";
}

@Html.FlashMessage("Changing a user to a status of pending, invited or banned OR removing them will automatically unshare their texts.")
@using(Html.BeginForm())
{
    @Html.HiddenFor(x => x.GroupId)
    @Html.AntiForgeryToken()
    <h5>@Model.Name</h5>
    <table class="table table-striped table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th>Member Name</th>
                <th>Invited</th>
                <th>Pending</th>
                <th>Moderator</th>
                <th>Member</th>
                <th>Banned</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var member in Model.Members.OrderBy(x => x.MembershipType))
            {
                <tr>
                    <td>@member.Username</td>
                    @if (member.MembershipType == MembershipType.Owner)
                    {
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    }
                    else
                    {
                        @*TODO fix me*@
                        <td><input type="radio" name="m_@member.GroupMembershipId" value="@MembershipType.Invited" checked="@(member.MembershipType == MembershipType.Invited)"/></td>
                        <td><input type="radio" name="m_@member.GroupMembershipId" value="@MembershipType.Pending" checked="@(member.MembershipType == MembershipType.Pending)"/></td>
                        <td><input type="radio" name="m_@member.GroupMembershipId" value="@MembershipType.Moderator" checked="@(member.MembershipType == MembershipType.Moderator)"/></td>
                        <td><input type="radio" name="m_@member.GroupMembershipId" value="@MembershipType.Member" checked="@(member.MembershipType == MembershipType.Member)"/></td>
                        <td><input type="radio" name="m_@member.GroupMembershipId" value="@MembershipType.Banned" checked="@(member.MembershipType == MembershipType.Banned)"/></td>
                        <td><input type="radio" name="m_@member.GroupMembershipId" value="delete"/></td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <div class="row-fluid">
        <div class="span12">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <a href="@Url.Action("Details", new { id=Model.GroupId})" class="btn">View group</a>
            <a href="@Url.Action("Index", new { id=Model.GroupId})" class="btn">Back to my groups</a>
        </div>
    </div>
}