@model ReadingTool.Entities.Language
@{
    ViewBag.Title = "Index";
    Bundles.Reference("Scripts/other/footer/html5sortable/jquery.sortable.js");
}

@section Menu
{
    @Html.Partial("Partials/_menu", Model.Id)
}

@if(Model.Dictionaries.Any())
{
    <table class="table table-striped table-bordered table-condensed table-hover">
        <caption>A list of your dictionaries for <strong>@Model.Name</strong></caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Url</th>
                <th>Send</th>
                <th class="button">&nbsp;</th>
                <th class="button">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var l in Model.Dictionaries.OrderBy(x => x.DisplayOrder))
            {
                <tr id="@l.Id">
                    <td>@l.Name</td>
                    <td><a target="_blank" href="@l.Url">@l.Url</a></td>
                    <td>@l.Parameter</td>
                    <td>@Html.EditButton(Url.Action("EditDictionary", new {id = Model.Id, dictionaryId = l.Id}))</td>
                    <td>@Html.DeleteButton(Url.Action("DeleteDictionary", new {id = Model.Id, dictionaryId = l.Id}))</td>
                </tr>
            }
        </tbody>
    </table>
    
    <button class="btn" onclick="updateOrder('.table');">
        Save dictionary order
    </button>
    <i id="result" class="icon-ok-circle" style="display: none"> </i>
    
    if(Model.Dictionaries.Count()>1)
    {
        <div class="clr20"></div>
        @Html.FlashMessage("Drag the dictionaries to reorder them and then click the save order button");
    }
    
    Bundles.AddInlineScript(
        @<script type="text/javascript">
             $("table tbody").sortable({ handles: 'td:first' });
             
             function updateOrder(selector) {
                 $('#result').hide();
                 var ids = [];
                 $(selector + ' tbody tr').each(function (index, item) {
                     ids.push(item.id);
                 });

                 $.post(
                     '@Url.Action("UpdateOrder", new { id=Model.Id})', { ids: ids },
                     function (result) {
                         if(result=="OK") {
                             $('#result').removeClass().addClass('icon-ok-circle').show().fadeOut(2000);
                         } else {
                             $('#result').removeClass().addClass('icon-exclamation-sign').show().fadeOut(2000);
                         }
                     }
                 );
             }
         </script>, "body");
}
else
{
    @Html.FlashMessage("You have not added any dictionaries yet")
}

@Html.ActionLink("add a new dictionary", "AddDictionary", new { id=Model.Id}, new { @class = "btn btn-primary" })