@model ReadingTool.Site.Models.User.DictionaryViewModel
@{
    ViewBag.Title = "Dictionary";
}

@section Menu
{
    @Html.Partial("Partials/_menu", Model.LanguageId)
}


@using(Html.BeginForm("EditDictionary", "Languages", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Edit Dictionary</legend>
        @Html.BootstrapFormItem(x=>x.Name)
        @Html.BootstrapFormTextbox(x=>x.Url, new { @class="input-xxlarge"})
        @Html.BootstrapFormItem(x=>x.WindowName)
        @Html.BootstrapFormItem(x=>x.UrlEncoding)
        @Html.BootstrapFormItem(x=>x.Parameter)
        @Html.BootstrapFormItem(x=>x.AutoOpen)
        <div class="buttons">
            <input type="submit" class="btn btn-primary" value="save"/>
            @Html.ActionLink("Cancel", ViewContext.RouteData.Values["action"].ToString(), new { },new{@class="btn btn-link"})
        </div>
    </fieldset>
}
