@model ReadingTool.Common.Search.SearchGridResult<ReadingTool.Site.Models.Terms.TermViewModel> 
@{
    Layout = "";
    WebGrid grid = new WebGrid(Model.Items, rowsPerPage: @Model.Paging.RowsPerPage);
}

@grid.GetHtml(
    tableStyle: "table table-striped table-bordered table-condensed table-hover gridtable",
    numericLinksCount: 0,
    mode: WebGridPagerModes.Numeric,
    footerStyle: "hidden",
    columns: new[]
        {
            grid.Column("Language", style:"col10", header: "Language"),
            grid.Column("State", style:"col10"),
            grid.Column("Phrase", style:"col10" , format: @<text><a title="@item.FullDefinition">@item.Phrase</a></text>),
            grid.Column("Sentence", canSort:false),
            grid.Column("Box", style:"col5", format: @<text><a title="@item.NextReviewDate">@item.Box</a></text>),
            grid.Column(style:"col5", format:@<text>
                                                  <div class="btn-group">
                                                          <a href="@Url.Action("Edit", new {id=item.TermId})" class="btn btn-primary btn-small">Edit</a>
                                                  </div> 
                                              </text>)
    }
)

@Html.Partial("~/Views/Shared/_pager.cshtml", Model.Paging)