@model ReadingTool.Site.Models.Admin.PublicLanguageViewModel
@{
    ViewBag.Title = "Language";
}

@section Menu
{
    @Html.Partial("Partials/_menu")
}


@using(Html.BeginForm("AddPublicLanguage", "", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Add Language</legend>
        @Html.BootstrapFormTextbox(x => x.Name)
        @Html.EditorFor(x=>x.Settings)
        <div class="buttons">
            <input type="submit" class="btn btn-primary" value="save"/>
            @Html.ActionLink("Cancel", ViewContext.RouteData.Values["action"].ToString(), new { },new{@class="btn btn-link"})
        </div>
    </fieldset>
}
