@{
    Layout = "";
}

<div class="clr10"></div>
<div class="submenu">
    <ul class="nav nav-pills">
        <li><a href="@Url.Action("Index")">profile</a></li>
        <li><a href="@Url.Action("Controls")">controls</a></li>
        <li><a href="@Url.Action("ImportExport")">import & export</a></li>
        <li><a href="@Url.Action("ApiAccess")">API access</a></li>
        <li><a href="@Url.Action("Delete")">delete account</a></li>
    </ul>
</div>