@{
    ViewBag.Title = "Your Messages";
}
@section submenu { @Html.Partial("_menu") }

@section bottomJS
{
    <script language="javascript" type="text/javascript">
        var settings = {
            url: '@((ViewData[CacheKeys.URLS] as UrlModel).Ajax.Messages)',
            messageUrl: '@((ViewData[CacheKeys.URLS] as UrlModel).Messages)',
            profileUrl: '@((ViewData[CacheKeys.URLS] as UrlModel).Profiles)',
            afToken: $('#afForm input[name=__RequestVerificationToken]').val()
        };
        var messages = new messagesVM(settings);
    </script>
}
<div id="wrapper">
    <div id="leftbar">
        <strong style="padding-left:20px">Filters</strong>
        <div class="clr5"></div><hr /><div class="clr5"></div>
        <ul class="ffolder">
            @foreach(var folder in FilterKeys.MessageNames)
            {
                <li>
                    <div style="width:100%">
                        <span>@folder</span>
                        <div style="float: right; width: 15px">
                            <input type="radio" name="folders" value="@folder" data-bind="checked: selectedFolders"/>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
    <div id="main">
        <table class="texts" width="100%" cellspacing="0" cellpadding="0">
             <thead>
                <tr>
                    <th style="width:25px">&nbsp;</th>
                    <th data-bind="visible: selectedFolders()!=='sent'" style="width: 250px">From</th>
                    <th data-bind="visible: selectedFolders()==='sent'" style="width: 250px">To</th>
                    <th>Subject</th>
                    <th style="width:125px">Date</th>
                    <th style="width:25px">&nbsp;</th>
                    <th style="width:25px">&nbsp;</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: items">
                <tr>
                    <td>
                        <a data-bind="click: $parent.unstar, visible: isStarred()" class="sprite sprite-star" title="click to unstar">click to unstar</a>
                        <a data-bind="click: $parent.star, visible: isStarred()===false" class="sprite sprite-unstar" title="click to star">click to star</a>
                    </td>
                    <td data-bind="visible: $parent.selectedFolders()!=='sent'">
                        <a target="_blank" data-bind="attr: { href: settings.profileUrl + '/' + from.username, title: from.name}, text: from.name" ></a>
                    </td>
                    <td data-bind="visible: $parent.selectedFolders()==='sent', foreach: to">
                        <a target="_blank" data-bind="attr: { href: settings.profileUrl + '/' + $data.username, title: $data.name }, text: $data.name" ></a>
                        <span>, </span>
                    </td>
                    <td data-bind="style: { fontWeight: isRead ? 'normal' : 'bold' }">
                        <a data-bind="visible: isRead, attr: { href: settings.messageUrl + '/read/' + id }" class="sprite sprite-messageread" title="message is read">message is read</a>
                        <a data-bind="visible: isRead===false, attr: { href: settings.messageUrl + '/read/' + id }" class="sprite sprite-messageunread" title="message is unread">message is unread</a>
                        <span data-bind="text: subject"></span>
                    </td>
                    <td data-bind="text: date"></td>
                    <td><a data-bind="attr: { href: settings.messageUrl + '/read/' + id }" class="sprite sprite-read" title="read">read</a></td>
                    <td><a data-bind="click: $parent.deleteMessage" class="sprite sprite-delete" title="delete">delete</a></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="7">
                        <ul class="lra" style="padding-left:6px" >
                            <li class="current first" data-bind="text: 'Showing Page: ' + currentPage()"></li>
                            <li class="current" data-bind="text: 'Total Messages: ' + totalItems()"></li>
                            <!-- ko foreach: paging -->
                            <li><a href="#"data-bind="text: $data, click: $parent.changePage"></a></li>
                            <!-- /ko -->
                        </ul>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<form action="#" id="afForm" style="display:none">@Html.AntiForgeryToken()</form>
@section footer { }