@model Tuple<long, IEnumerable<MongoDB.Bson.BsonDocument>>
           
@{
    ViewBag.Title = "Index";
    int page = ViewBag.Page;
}

@section submenu { @Html.Partial("_menu") }

<table width="95%" cellpadding="0" cellspacing="0" border="0" class="texts" style="margin-left: 10px">
    <thead>
        <tr>
            <th>timestamp</th>
            <th>level</th>
            <th>message</th>
            <th>fileName</th>
            <th>method</th>
            <th>lineNumber</th>
            <th>className</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var message in Model.Item2)
        {
            <tr>
                <td>@message.GetElement("timestamp").Value.AsDateTime</td>
                <td>@message.GetElement("level").Value.AsString</td>
                <td>@message.GetElement("message").Value.AsString</td>
                <td>@message.GetElement("fileName").Value.AsString</td>
                <td>@message.GetElement("method").Value.AsString</td>
                <td>@message.GetElement("lineNumber").Value.AsString</td>
                <td>@message.GetElement("className").Value.AsString</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="7">
                <ul class="lr">
                    @{
                        int pages = (int)Math.Ceiling((double)@Model.Item1/20);
                    }
                    Total Pages: @pages
                </ul>
            </th>
        </tr>
    </tfoot>
</table>