@model ReadingTool.Site.Models.Home.ResetPasswordModel
@{
    ViewBag.Title = "Reset Password";
}
<div class="row-fluid">
    <div class="span12">
        @using(Html.BeginForm("ResetPassword", "Home", FormMethod.Post, new { @class="form-horizontal"}))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x=>x.Username)
            @Html.HiddenFor(x=>x.Key)
            <fieldset>
                <legend>Reset Password</legend>
                <div class="control-group">
                    @Html.LabelFor(x => x.Password, new { @class = "control-label" } )
                    <div class="controls">
                        @Html.PasswordFor(x => x.Password, new { @placeholder = "your new password", @class="input-xxlarge" })
                        @Html.ValidationMessageFor(x => x.Password)
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Update my password</button>
                </div>
            </fieldset>
        }
    </div>
</div>
