@{
    Layout = "";
}
<div class="clr10"></div>
<div class="btn-group">
    <button class="btn btn-small">More options</button>
    <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("Index", new { id = Model })">view all of your languages</a></li>
        <li><a href="@Url.Action("Add", new { id = Model })">add a new language</a></li>
        @if(Model is Guid)
        {
            <li><a href="@Url.Action("Edit", new { id = Model })">edit this language</a></li>
            <li><a href="@Url.Action("Dictionaries", new { id = Model })">view the dictionaries for this language</a></li>
            <li><a href="@Url.Action("AddDictionary", new { id = Model })">add a new dictionary for this language</a></li>
        }
    </ul>
</div>
<div class="clr10"></div>