@{
    Layout = "";
}
<div class="clr10"></div>
<div class="submenu">
    <ul class="nav nav-pills">
        <li><a href="@Url.Action("Index", new { id = Model })">your languages</a></li>
        <li><a href="@Url.Action("Add", new { id = Model })">add a new language</a></li>
        @if(Model is Guid)
        {
            <li><a href="@Url.Action("Edit", new { id = Model })">edit this language</a></li>
            <li><a href="@Url.Action("Dictionaries", new { id = Model })">dictionaries for this language</a></li>
            <li><a href="@Url.Action("AddDictionary", new { id = Model })">add a new dictionary for this language</a></li>
        }
    </ul>
</div>