@using ReadingTool.Entities
@using ReadingTool.Site.Models.User
@*@functions
{
}
*@

@helper ColourBlock(string colour)
{
    <div style="width: 15px; height: 15px; display: inline-block; background-color: @colour">&nbsp;</div>
}

@helper ColourBlock(Language l)
{
    if(l != null)
    {
    @ColourBlock(l.Colour);
    }
}

@helper ColourBlock(LanguageViewModel l)
{
    if(l != null)
    {
    @ColourBlock(l.Colour);
    }
}

@helper FormatLanguage(Language l)
{
    if(l != null)
    {
    @ColourBlock(l.Colour) @l.Name
    }
}

@helper FormatLanguage(LanguageViewModel l)
{
    if(l != null)
    {
    @ColourBlock(l.Colour) @l.Name
    }
}