@using ReadingTool.Core
@model ReadingTool.Site.Models.User.ReadViewModel

<div id="myModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false" data-keyboard="true">
  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" title="close without saving">×</button>
      <h3 style="display:inline" id="selectedWord"></h3>
      <a href="#" id="increaseWord" class="pull-right" style="padding: 0px 10px 0px 10px"><i class="icon-plus"> </i></a>
      <a href="#" id="decreaseWord" class="pull-right" style="padding: 0px 10px 0px 10px"><i class="icon-minus"> </i></a>
  </div>
    <div class="modal-body">
        <div>
                <ul class="nav nav-pills" id="dictionaries">
                    @foreach(var dictionary in Model.Language.Dictionaries.OrderBy(x=>x.DisplayOrder))
                    {
                        <li><a 
                                target="@(string.IsNullOrEmpty(dictionary.WindowName) ? "_blank" : dictionary.WindowName)"
                                class="dictionary" 
                                data-id="@dictionary.Id" 
                                data-parameter="@dictionary.Parameter.ToString().ToLowerInvariant()" 
                                data-urlEncode="@(string.IsNullOrEmpty(dictionary.UrlEncoding) ? "false": "true")" 
                                data-url="@dictionary.Url" 
                                data-autoOpen="@dictionary.AutoOpen.ToString().ToLowerInvariant()"
                                >@dictionary.Name</a></li>
                    }
                </ul>
            </div>
        <div>
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="state">Current State</label>
                    <div class="controls">
                        <input type="radio" name="state" id="knownState" class="radio inline" value="@Constants.TermStates.KNOWN"/>known
                        <input type="radio" name="state" id="unknownState" class="radio inline" value="@Constants.TermStates.UNKNOWN"/><span class="nkx">unknown</span>
                        <input type="radio" name="state" id="notseenState" class="radio inline" value="@Constants.TermStates.NOTSEEN"/><span class="nsx">not seen</span>
                        <input type="radio" name="state" id="ignoredState" class="radio inline" value="@Constants.TermStates.IGNORED"/>ignored
                    </div>
                </div>
            
                <div class="control-group">
                    <label class="control-label" for="sentence">Sentence</label>
                    <div class="controls">
                        <input type="text" id="sentence" placeholder="Sentence" class="input-xxlarge" />
                        <a href="#" id="btnRefresh"><i class="icon-repeat"> </i></a>
                    </div>
                </div>
            
                <div class="control-group">
                    <label class="control-label" for="baseTerm">Base term</label>
                    <div class="controls">
                        <input type="text" id="baseTerm" placeholder="base term" class="input-xxlarge" />
                    </div>
                </div>

                @if(Model.Language.Settings.ShowRomanisation)
                {
                    <div class="control-group">
                        <label class="control-label" for="romanisation">Romanisation</label>
                        <div class="controls">
                            <input type="text" id="romanisation" placeholder="romanisation" class="input-xxlarge" />
                        </div>
                    </div>
                }
                else
                {
                    <input type="hidden" name="romanisation" />
                }
            
                <div class="control-group">
                    <label class="control-label" for="definition">Definition</label>
                    <div class="controls">
                        <textarea id="definition" class="input-xxlarge" placeholder="Definition"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="tags">Tags</label>
                    <div class="controls">
                        <input type="text" id="tags" placeholder="Tags" class="input-xxlarge" />
                    </div>
                </div>
            </form>
        </div>
        <div class="pagination">
            <ul>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <span class="pull-left">
            <span class="badge" id="currentBox">new</span>
            <span id="modalMessage"></span>
        </span>
        <button class="btn btn-success" title="ctrl-enter to save & close" id="btnSave">Save</button>
        <button class="btn btn-danger btn-mini" id="btnReset">Reset</button>
        <button class="btn btn-link" data-dismiss="modal" aria-hidden="true" title="escape to close without saving">close without saving</button>
    </div>
</div>