@using ReadingTool.Core
@model ReadingTool.Site.Models.User.ReadViewModel

<div id="myModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false" data-keyboard="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" title="close without saving">×</button>
        <h3 style="display:inline" id="selectedWord"></h3>
        <a href="#" id="increaseWord" class="pull-right" title="increase the term length" style="padding: 0px 10px 0px 10px"><i class="icon-plus"> </i></a>
        <a href="#" id="decreaseWord" class="pull-right" title="decrease the term length" style="padding: 0px 10px 0px 10px"><i class="icon-minus"> </i></a>
    </div>
    <div class="modal-body">
        <div>
            <ul class="nav nav-pills" id="dictionaries">
                @foreach(var dictionary in Model.Language.Dictionaries.OrderBy(x=>x.DisplayOrder))
                {
                    <li><a 
                            target="@(string.IsNullOrEmpty(dictionary.WindowName) ? "_blank" : dictionary.WindowName)"
                            class="dictionary" 
                            data-id="@dictionary.Id" 
                            data-parameter="@dictionary.Parameter.ToString().ToLowerInvariant()" 
                            data-urlEncode="@(string.IsNullOrEmpty(dictionary.UrlEncoding) ? "false": "true")" 
                            data-url="@dictionary.Url" 
                            data-autoOpen="@dictionary.AutoOpen.ToString().ToLowerInvariant()"
                            >@dictionary.Name</a></li>
                }
            </ul>
        </div>
        <div>
            <form class="form-horizontal" id="formTerms">
                <input type="hidden" name="LanguageId" id="languageId" value="@Model.Language.Id"/>
                <input type="hidden" name="TextId" id="textId" value="@Model.Text.Id"/>
                <input type="hidden" name="TermId" id="termId" />
                <input type="hidden" name="TermPhrase" id="termPhrase" />
                <ul id="tabTermDefintions" class="nav nav-tabs">
                </ul>
                <div class="control-group">
                    <label class="control-label" for="state">Current State</label>
                    <div class="controls">
                        <input type="radio" name="state" id="knownState" class="radio inline" value="@Constants.TermStates.KNOWN"/><a href="#" onclick="$('#knownState').attr('checked', true); return false;"><span class="@Constants.TermStates.KNOWN">known</span></a>
                        <input type="radio" name="state" id="unknownState" class="radio inline" value="@Constants.TermStates.UNKNOWN"/><a href="#" onclick="$('#unknownState').attr('checked', true); return false;"><span class="@Constants.TermStates.UNKNOWN">unknown</span></a>
                        <input type="radio" name="state" id="notseenState" class="radio inline" value="@Constants.TermStates.NOTSEEN"/><a href="#" onclick="$('#notseenState').attr('checked', true); return false;"><span class="@Constants.TermStates.NOTSEEN">not seen</span></a>
                        <input type="radio" name="state" id="ignoredState" class="radio inline" value="@Constants.TermStates.IGNORED"/><a href="#" onclick="$('#ignoredState').attr('checked', true); return false;"><span class="@Constants.TermStates.IGNORED">ignored</span></a>
                    </div>
                </div>
                <div id="tabContent" class="tab-content">
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-left" id="termMessages"></div>
        <i class="" style="display: none" id="iconResult"> </i>
        <button class="btn btn-success" title="ctrl-enter to save & close" id="btnSaveClose">Save & Close</button>
        <button class="btn btn-success" title="ctrl-enter to save & close" id="btnSave">Save</button>
        <button class="btn btn-danger btn-mini" id="btnReset" title="reset term to box 1 and reset review date">Reset</button>
        <button class="btn btn-link" data-dismiss="modal" aria-hidden="true" title="escape to close without saving">close without saving</button>
    </div>
</div>