@model TextParserModel
@{
    ViewBag.Title = "Edit Parser";
}

@section submenu { @Html.Partial("_menu") }

@{ using (Html.BeginForm<ParsersController>(x => x.Edit(Model.TextParserId), FormMethod.Post))
   {
        @Html.AntiForgeryToken()
        <legend>Edit Parser</legend>
    
       <div class="input_wrapper">  
           @Html.LabelFor(x => x.Name)
           @Html.TextBoxFor(x => x.Name)
           @Html.ValidationMessageFor(x => x.Name)
       </div>
    
       <div class="input_wrapper">  
           @Html.LabelFor(x => x.FullPath)
           @Html.TextBoxFor(x => x.FullPath)
           @Html.ValidationMessageFor(x => x.FullPath)
       </div>
    
       <div class="input_wrapper">  
           @Html.LabelFor(x => x.Arguments)
           @Html.TextBoxFor(x => x.Arguments)
           @Html.ValidationMessageFor(x => x.Arguments)
       </div>
    
        <button type="submit">
            <span>edit parser</span>
        </button>
   }
}
