@using ReadingTool.Entities.Search
@model ReadingTool.Entities.Search.SearchGridResult<ReadingTool.Site.Models.User.TermListModel> 
@{
    WebGrid grid = new WebGrid(Model.Items, rowsPerPage: @Model.RowsPerPage);
}

@grid.GetHtml(
    tableStyle: "table table-striped table-bordered table-condensed table-hover gridtable",
    numericLinksCount: 0,
    mode: WebGridPagerModes.Numeric,
    footerStyle: "hidden",
    
    columns: new[] { 
        grid.Column("", style:"col5", format: @<text><input type="checkbox" value="@item.Id"/></text>, header: "<input type=\"checkbox\" />"),
        grid.Column("Language", style:"col10", format: @<text>
                                             @ViewHelpers.FormatLanguage(@item.Language, @item.LanguageColour)
                                         </text>),
        grid.Column("State", style:"col10",header: "State"),
        grid.Column("TermPhrase", style:"col60", header: "Term Phrase", format:@<text>
                                              @if(!string.IsNullOrEmpty(item.Tags))
                                            {
                                                <i class="icon-tags" title="@item.Tags"> </i>
                                            }
                                                                     @item.TermPhrase
@if(item.IndividualTerms.Count>0)
{
    var tableId = "internal" + @item.Id;
    <text>(</text><a href="#" onclick="$('#@tableId').toggle(); return false;" title="@item.Definition">@item.IndividualTerms.Count @(item.IndividualTerms.Count>1 ? "definitions"  :"definition")</a><text>)</text>
    <div class="clr"></div>
    <table style="display: none;" id="@tableId">
    @foreach(var it in @item.IndividualTerms)
    {
        <tr>
            <td>@it.BaseTerm</td>
            <td>@it.Romanisation</td>
            <td>@it.Sentence</td>
            <td>@it.Definition</td>
            <td>@it.Tags</td>
        </tr>
    }
    </table>
}
                                                                     

                                          </text>),
        grid.Column("Box", style:"col5", header: "Box"),
        grid.Column("Next Review", style:"col15", header: "Next Review", format:@<text>
                                            @Html.FormatDateHumanAgo((DateTime?)@item.NextReview, prepend:"in")
                                        </text>),
        
    }
    )


@Html.Partial("Partials/_pager", new SearchGridResult<int>
    {
        Direction = Model.Direction,
        Items = null,
        Page = Model.Page,
        RowsPerPage = Model.RowsPerPage,
        Sort = Model.Sort,
        TotalRows = Model.TotalRows
    })