@model TextModel
@{
    ViewBag.Title = "Align Text";
    ViewBag.IsParallelText = Model.IsParallel;
}
@section submenu {
    @Html.Partial("_menu")
}
@section footer {
}
@Html.Partial("_submenu", Model.ItemId, ViewData)
@{
    using(Html.BeginForm<TextsController>(x => x.AlignText(Model.ItemId.ToString()), FormMethod.Post, new { id = "afForm" }))
    {
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.ItemId)
    <legend>Align Text</legend>

    <div style="width: 98%;margin-left: 5px;">
        <table style="width: 100%">
            <tr>
                <td style="width:49%;">
                    @Html.TextAreaFor(x=>x.L1Text, new { style="width:100%; height:350px"})
                </td>
                <td style="width:49%;">
                    @Html.TextAreaFor(x=>x.L2Text, new { style="width:100%; height:350px"})
                </td>
            </tr>
        </table>
    </div>
    
    <button type="submit">
        <span>save text</span>
    </button>
    }
}
