@{
    ViewBag.Title = "Texts & Videos";
    var languages = ViewBag.Languages as IEnumerable<LanguageSimpleViewModel>;
}
@section submenu { @Html.Partial("_menu") }

@section styles
{
    <link href="@AppHelper.CssUrl("site/jquery-ui-1.8.17.custom.css")" rel="stylesheet" type="text/css" media="screen, projection"/>
}
@section bottomJS
{
    <script language="javascript" type="text/javascript">
        var settings = {
            index: 'items',
            url: '@((ViewData[CacheKeys.URLS] as UrlModel).Ajax.Items)',
            videoUrl: '@((ViewData[CacheKeys.URLS] as UrlModel).Videos)',
            textUrl: '@((ViewData[CacheKeys.URLS] as UrlModel).Texts)',
            wordUrl: '@((ViewData[CacheKeys.URLS] as UrlModel).Words)',
            afToken: $('#afForm input[name=__RequestVerificationToken]').val()
        };
        
        var texts = new mergedVM(settings);
        new uiHelper({
            urls: { ajaxUrl: '@((ViewData[CacheKeys.URLS] as UrlModel).Ajax.Base)' },
            autocomplete: 
                [
                    { name: '#groupShareName', endpoint: 'autocompletegroupnames', vm: texts, type: 'groupshare' },
                    { name: '#groupUnshareName', endpoint: 'autocompletegroupnames', vm: texts, type: 'groupunshare' },
                    { name: '#newcollectionname', endpoint: 'autocompletetextcollectionname', vm: texts, type: 'collection' }
                ],
            tags: 
                [
                    { name: '#tagstoadd', endpoint: 'autocompletetexttags', vm: texts, type: 'tag' },
                    { name: '#tagstoremove', endpoint: 'autocompletetexttags', vm: texts, type: 'untag' }
                ]
        });                    
    </script>
}
<div id="wrapper">
    <div id="leftbar">
        <div style="height:30px">
            <strong style="padding-left:20px">Filters</strong>
        </div>
        <hr /><div class="clr5"></div>
        <select style="margin-left: 10px; width: 120px" data-bind="options: limits, value: limit"></select>
        <div class="clr5"></div><hr /><div class="clr5"></div>
        <ul data-bind="foreach: itemTypes">
            <li>
                <div style="width:100%">
                    <span data-bind="text: $data"></span>
                    <div style="float: right; width: 15px">
                        <input type="checkbox" name="itemtype" data-bind="value: $data, checked: $parent.selectedItemTypes" />
                    </div>
                </div>
            </li>
        </ul>
        <div class="clr5"></div><hr /><div class="clr5"></div>
        <ul>
            @foreach(var language in languages)
            {
                <li>
                    <div style="width:100%">
                        @if(string.IsNullOrEmpty(language.Colour))
                        {
                            <div style="width:8px; height: 8px; display: inline-block; border:1px solid black;">&nbsp;</div>
                        }
                        else
                        {
                            <div style="width:10px; height: 10px; display: inline-block; background-color: @language.Colour">&nbsp;</div>
                        }
                        
                        <span>@language.Name</span>
                        <div style="float: right; width: 15px;" >
                            <input type="checkbox" value="@language.LanguageId" data-bind="checked: selectedLanguages" />
                        </div>
                    </div>
                </li>
            }
        </ul>
        <div class="clr5"></div><hr /><div class="clr5"></div>
        <ul data-bind="foreach: collectionNames">
            <li>
                <div style="width:100%">
                    <span data-bind="text: $data"></span>
                    <div style="float: right; width: 15px">
                        <input type="checkbox" name="collection" data-bind="value: $data, checked: $parent.selectedCollections" />
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div id="main">
        @Html.Partial("_icons", null, ViewData)
        <input type="text" style="margin-left: 10px; width: 90%; height: 20px; margin-bottom: 8px" name="filter" data-bind="value: textFilter, valueUpdate: 'afterkeydown'" />
        <table class="texts" width="100%" cellspacing="0" cellpadding="0">
            <thead>
                <tr id="headerRow">
                    <th style="width:15px"><input type="checkbox" name="itemSelection" data-bind="checked: checkAll, click: selectAll" /></th>
                    <th style="width:175px">Language <a data-bind="click: changeOrder.bind($data, 'language')" class="sprite sprite-uparrow" style="float: right"></a></th>
                    <th>Title <a data-bind="click: changeOrder.bind($data, 'title')" class="sprite sprite-downarrow" style="float: right"></a></th>
                    <th>Collection <a data-bind="click: changeOrder.bind($data, 'collection')" class="sprite sprite-downarrow" style="float: right"></a></th>
                    <th style="width:25px">No</th>
                    <th style="width:125px">Last Seen <a data-bind="click: changeOrder.bind($data, 'lastseen')" class="sprite sprite-downarrow" style="float: right"></a></th>
                    <th style="width:25px">&nbsp;</th>
                    <th style="width:25px">&nbsp;</th>
                    <th style="width:25px">&nbsp;</th>
                    <th style="width:25px">&nbsp;</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: items">
                <tr>
                    <td><input type="checkbox" data-bind="value: id, checked: $parent.selectedItems" /></td>
                    <td>
                        <div style="width:10px; height: 10px; display: inline-block;" data-bind="visible: languageColour!='', text: ' ', style: { backgroundColor: languageColour }">&nbsp;</div>
                        <div style="width:8px; height: 8px; display: inline-block; border:1px dotted black;" data-bind="visible: languageColour=='', text: ' ', style: { backgroundColor: languageColour }">&nbsp;</div>
                        <span data-bind="text: language"></span>
                    </td>
                    <td>
                        <a data-bind="visible: hasAudio" class="sprite sprite-hasmusic" title="has audio">has audio</a>
                        <a data-bind="visible: hasAudio===false" class="sprite sprite-nomusic" title="has no audio">has no audio</a>
                        <a data-bind="visible: isShared(), attr: {title: sharedGroups()}" class="sprite sprite-shared"></a>
                        <a data-bind="visible: isShared()===false" class="sprite sprite-notshared" title="not shared">not shared</a>
                        <span data-bind="text: title"></span>
                    </td>
                    <td data-bind="text: collectionName"></td>
                    <td data-bind="text: collectionNo"></td>
                    <td data-bind="text: lastSeen"></td>
                    <td>
                        <a data-bind="visible: itemType==0, attr: { href: settings.textUrl + '/read/' + id }" class="sprite sprite-read" title="read">read</a>
                        <a data-bind="visible: itemType==1, attr: { href: settings.videoUrl + '/watch/' + id }" class="sprite sprite-watch" title="watch">watch</a>
                    </td>
                    <td><a data-bind="visible: itemType==0 && isParallel, attr: { href: settings.textUrl + '/readparallel/' + id }" class="sprite sprite-readparallel" title="read parallel">parallel</a></td>
                    <td>
                        <a data-bind="visible: itemType==0, attr: { href: settings.textUrl + '/edittext/' + id }" class="sprite sprite-edit" title="edit">edit</a>
                        <a data-bind="visible: itemType==1, attr: { href: settings.textUrl + '/editvideo/' + id }" class="sprite sprite-edit" title="edit">edit</a>
                    </td>
                    <td><a href="#" data-bind="click: $parent.deleteItem" class="sprite sprite-delete" title="delete">delete</a></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="10">
                        <ul class="lra" style="padding-left:6px" >
                            <li class="current first" data-bind="text: 'Showing Page: ' + currentPage() + ' of ' + totalPages()"></li>
                            <li class="current" data-bind="text: 'Total Texts & Videos: ' + totalItems()"></li>
                            <!-- ko foreach: paging -->
                            <li><a href="#" data-bind="text: $data, style: { color: $parent.currentPage()===$data ? 'black' : 'blue' }, click: $parent.changePage"></a></li>
                            <!-- /ko -->
                        </ul>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<form action="#" id="afForm" style="display:none">@Html.AntiForgeryToken()</form>
@section footer { }