@model ReadingTool.Site.Models.Account.PasswordModel
@{
    ViewBag.Title = "My Account";
}

<div class="row-fluid">
    <div class="span12">
        @using(Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            <fieldset>
                <legend>Change your password</legend>
                <div class="control-group">
                    @Html.LabelFor(x => x.OldPassword, new { @class = "control-label" })
                    <div class="controls">
                        @Html.PasswordFor(x => x.OldPassword, new { @placeholder = "your current password" })
                        @Html.ValidationMessageFor(x => x.OldPassword)
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(x => x.NewPassword, new { @class = "control-label" })
                    <div class="controls">
                        @Html.PasswordFor(x => x.NewPassword, new { @placeholder = "your new password" })
                        @Html.ValidationMessageFor(x => x.NewPassword)
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Update password</button>
                    <a href="@Url.Action("Index")" class="btn">Back to your account</a>
                </div>
            </fieldset>
        }
    </div>
</div>
