@model ReadingTool.Site.Models.Account.AccountModel
@{
    ViewBag.Title = "My Account";
}

<div class="row-fluid">
    <div class="span1"></div>
    <div class="span10">
        @using(Html.BeginForm("Update", "Account", FormMethod.Post, new { @class="form-horizontal"}))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x=>x.User.Created)
            @Html.HiddenFor(x=>x.User.Username)
            <fieldset>
                <legend>My Account</legend>
                <div class="control-group">
                    @Html.LabelFor(x => x.User.Username, new {@class = "control-label"})
                    <div class="controls">
                        @Html.TextBoxFor(x => x.User.Username, new {@readonly = "readonly", disabled = "disabled"})
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(x => x.User.DisplayName, new {@class = "control-label"})
                    <div class="controls">
                        @Html.TextBoxFor(x => x.User.DisplayName, new {@placeholder = "display name, what others users see", @class="input-xxlarge"})
                        @Html.ValidationMessageFor(x=>x.User.DisplayName)
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(x => x.User.EmailAddress, new {@class = "control-label"})
                    <div class="controls">
                        @Html.TextBoxFor(x => x.User.EmailAddress, new {@placeholder = "email address, not required", @class="input-xxlarge"})
                        @Html.ValidationMessageFor(x=>x.User.EmailAddress)
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </fieldset>
        }
        @using(Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class="form-horizontal"}))
        {
            @Html.AntiForgeryToken()
            <fieldset>
                <legend>Change your password</legend>
                <div class="control-group">
                    @Html.LabelFor(x => x.Password.OldPassword, new {@class = "control-label"})
                    <div class="controls">
                        @Html.PasswordFor(x => x.Password.OldPassword, new {@placeholder = "your current password"})
                        @Html.ValidationMessageFor(x=>x.Password.OldPassword)
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(x => x.Password.NewPassword, new {@class = "control-label"})
                    <div class="controls">
                        @Html.PasswordFor(x => x.Password.NewPassword, new {@placeholder = "your new password"})
                        @Html.ValidationMessageFor(x=>x.Password.NewPassword)
                    </div>
                </div>
                <div class="form-actions">
                <button type="submit" class="btn btn-primary">Update password</button>
            </div>
            </fieldset>
        }
        @using(Html.BeginForm("Delete", "Account", FormMethod.Post, new { @class = "form-horizontal", onsubmit="return confirm('Are you really sure?')" }))
        {
            @Html.AntiForgeryToken()
            <fieldset>
                <legend>Permanently delete account</legend>
                <div class="control-group">
                    @Html.LabelFor(x => x.Delete.Password, new {@class = "control-label"})
                    <div class="controls">
                        @Html.PasswordFor(x => x.Delete.Password, new {@placeholder = "your current password"})
                        @Html.ValidationMessageFor(x=>x.Delete.Password)
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-danger">Permanently delete my account</button>
                </div>
            </fieldset>
        }
    </div>
    <div class="span1"></div>
</div>
