@model ReadingTool.Site.Models.Languages.DictionaryModel
@{
    ViewBag.Title = "Add Dictionary";
}

<div class="row-fluid">
    <div class="span12">
        @using(Html.BeginForm("AddDictionary", "Languages", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.LanguageId)
            <fieldset>
                <legend>Add Dictionary</legend>
                <div class="control-group">
                    @Html.LabelFor(x => x.Name, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextBoxFor(x => x.Name, new { @placeholder = "your name for the dictionary", @class = "input-xlarge" })
                        @Html.TipFor(x => x.Name)
                        @Html.ValidationMessageFor(x => x.Name)
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(x => x.Encoding, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextBoxFor(x => x.Encoding, new { @placeholder = "word encoding for URL", @class = "input-xlarge" })
                        @Html.TipFor(x => x.Encoding)
                        @Html.ValidationMessageFor(x => x.Encoding)
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(x => x.WindowName, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextBoxFor(x => x.WindowName, new { @placeholder = "name of window tab", @class = "input-xlarge" })
                        @Html.TipFor(x => x.WindowName)
                        @Html.ValidationMessageFor(x => x.WindowName)
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(x => x.Url, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextBoxFor(x => x.Url, new { @placeholder = "URL for dictionary, use ###", @class = "input-xxlarge" })
                        @Html.TipFor(x=>x.Url)
                        @Html.ValidationMessageFor(x => x.Url)
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(x => x.Sentence, new { @class = "control-label" })
                    <div class="controls">
                        @Html.CheckBoxFor(x => x.Sentence, new { @placeholder = "send sentence?" })
                        @Html.TipFor(x => x.Sentence)
                        @Html.ValidationMessageFor(x => x.Sentence)
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(x => x.AutoOpen, new { @class = "control-label" })
                    <div class="controls">
                        @Html.CheckBoxFor(x => x.AutoOpen, new { @placeholder = "automatically open?" })
                        @Html.TipFor(x => x.AutoOpen)
                        @Html.ValidationMessageFor(x => x.AutoOpen)
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="@Url.Action("Edit", new { id = Model.LanguageId })" class="btn">Back to language</a>
                </div>
            </fieldset>
        }
    </div>
</div>
