@model IEnumerable<ReadingTool.Entities.Text>
@{
    ViewBag.Title = "Index";
}

@section Menu
{
    @Html.Partial("Partials/_menu")
}

@if(Model.Any())
{
    <table class="table table-striped table-bordered table-condensed table-hover">
        <caption>A list of your texts</caption>
        <thead>
            <tr>
                <th>Title</th>
                <th class="button">&nbsp;</th>
                <th class="button">&nbsp;</th>
                <th class="button">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var l in Model)
            {
                <tr>
                    <td>@l.Title</td>
                    <td>
                        <div class="btn-group">
                            <a href="@Url.Action("Read", new { id=l.Id})" title="read" class="btn btn-mini">read</a>
                            <a href="@Url.Action("ReadParallel", new { id=l.Id})" title="read in parallel" class="btn btn-mini">parallel</a>
                        </div>
                    </td>
                    <td>@Html.EditButton(Url.Action("Edit", new { id = l.Id }))</td>
                    <td>@Html.DeleteButton(Url.Action("Delete", new { id = l.Id }))</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <text>
        <div class="alert alert-info">You do not have any texts yet.</div>
    </text>
}
