@model ImportLanguageModel
@{
    ViewBag.Title = "Import";
}
@section submenu {
    @Html.Partial("_menu")
}
@{
    using (Html.BeginForm<LanguagesController>(x => x.Import(), FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    <legend>Import Languages</legend>

    <div class="input_wrapper">
        @Html.LabelHelpFor(x => x.File)
        <input type="file" name="file" />
        @Html.ValidationMessageFor(x => x.File)
    </div>
    
    <div class="input_wrapper">
        @Html.LabelHelpFor(x => x.CodeColumnNo)
        @Html.TextBoxFor(x => x.CodeColumnNo)
        @Html.ValidationMessageFor(x => x.CodeColumnNo)
    </div>
    
    <div class="input_wrapper">
        @Html.LabelHelpFor(x => x.LanguageNameColumnNo)
        @Html.TextBoxFor(x => x.LanguageNameColumnNo)
        @Html.ValidationMessageFor(x => x.LanguageNameColumnNo)
    </div>
    
    <button type="submit">
        <span>import languages</span>
    </button>
    }
}
