@model ReadingTool.Entities.LwtImport
@{
    ViewBag.Title = "Import & Export";
}

@section Menu
{
    @Html.Partial("Partials/_menu")
}

@Html.FlashMessage(@"If you have direct access to your LWT server you can export your data from there. 
First you must <a href=""" + Url.Content("~/Content/jsonexport.php.txt") + @"""> download this script</a> (right click and select <strong>save link as...</strong>) 
and remove the .txt extension, so the filename becomes <strong>jsonexport.php</strong>. You must then upload it to your LWT server and go to http://www.example.org/jsonexport.php 
(replace example.org with your server). This will start a download of all your data. When it's finished <strong>you must delete</strong> the 
jsonexport.php file, otherwise anyone will be able to download your data. Once you have your JSON file, you can import it using the form below (you can ZIP it if you want).", htmlEncode:false)

@using(Html.BeginForm("ImportExport", "MyAccount", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Import your LWT account data</legend>
        @Html.BootstrapFormItem(x=>x.TestMode)
        @Html.BootstrapFormItem(x=>x.MediaUrl)
        @Html.BootstrapFormCustomHtml(x=>x.File, @"<input type=""file"" name=""file"" />")
        
        <div class="buttons">
            <input type="submit" class="btn btn-primary" name="export" value="import your LWT account data"/>
        </div>
    </fieldset>
}
<div class="clr20"></div>
@using(Html.BeginForm("ImportExport", "MyAccount", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Export your account data</legend>

        <div class="buttons">
            <input type="submit" class="btn btn-primary" name="export" value="export your account data"/>
        </div>
    </fieldset>
}
